<!DOCTYPE html>
<html>
<head>
  <title>Beerinfo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script type='text/x-handlebars'>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">MetaCasts.tv</a>
      </div>
      <div class="nav-collapse">
        <ul class="nav navbar-nav">
          <li><{{#link-to "countries"}}Countries{{/link-to}}</li>
          <li><{{#link-to "about"}}About{{/link-to}}</li>
          <li>Item 2</li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        {{outlet}}
      </div>

      <footer>
        <p>&copy; Melanie 2014</p>
      </footer>
    </div>

  </script>
</body>
</html>
